.App > .server_picker {
  text-align: center;
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.App > .server_picker > #server_form {
  display: block;
  background-color: #2d2d2d;
  padding: 100px;
  width: 25%;
  align-content: center;
}
